.Header {
    background-color: blue;
}

.navbar {
    z-index: 1;
    background-color: transparent;
}

.nav-link {
    color: black;
}

body {
    padding-top: 0%;
}

.container-fluid {
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}