<link rel="stylesheet" href="/css/home.css">
<div ng-controller="HomeController" class="row  justify-content-center">
    <div class="col-md-4 col-md-offset-4">
        <div class="text-center">
            <h1>Home Page</h1>

            <p>{{ welcomeMessage }}</p>
        </div>

        <form name="loginForm" ng-submit="submitForm(loginForm.$valid)" novalidate>
            <div class="form-group">
                <label class="label label-default" for="userEmail">Email:</label>
                <input autofocus required type="email" ng-model="user.email" class="form-control" id="userEmail" name="userEmail" placeholder="Enter email">
                <span ng-show="loginForm.userEmail.$invalid && !loginForm.userEmail.$pristine" class="my-1 help-block label label-info">Enter a valid email.</span>
            </div>
            <div class="form-group">
                <label class="label label-default" for="userPassword">Password:</label>
                <input required type="password" ng-minlength="4" ng-model="user.password" class="form-control" id="userPassword" name="userName"
                    placeholder="Password">
                <span ng-show="loginForm.userName.$invalid && !loginForm.userName.$pristine" class="my-1 help-block label label-info">Enter a valid password.</span>
            </div>
            <button type="submit" id="submitBtn" class="btn btn-primary btn-block" ng-disabled="loginForm.$invalid">Submit</button>
            <div class=" my-2 text-center">
                <label for="submitBtn">
                    <a ng-href="/register">Register</a>
                </label>
            </div>
            <div ng-show="message" class="alert alert-info">
                <strong>Message: </strong>
                {{message}}
            </div>

        </form>
    </div>
</div>