<link rel="stylesheet" href="/css/post.css">
<section id="features">
    <header>
        <div class="hero">
            <div class="fadeInDown animated">
                <h1 style="color: white">{{post.title}}
                    <br>
                </h1>
            </div>
        </div>
    </header>
    <h3 class="text-center" style="padding-top:2% ">Content:</h3>
    <p class="lead" style="margin: 5%">
        {{post.description}}
    </p>
    <br>

    <hr>

    <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-3">
            <img class="image-responsive" src="/img/profile.jpg" alt="Generic placeholder image">
        </div>
    </div>
    <div class="row justify-content-center" id="about">
        <div class="col-md-10 col-md-offset-1">
            <div class="text">
                {{post.body}}
            </div>
            <br>
        </div>
    </div>
    <hr>


    <div>
    </div>
</section>