<div ng-controller="UserController" data-ng-init="init()">
    <div class="row justify-content-center">
        <div class="col-4">
        <form ng-show="user" name="updateForm" ng-submit="submitForm(updateForm.$valid)" novalidate>
            <div class="form-group">
                <label class="label label-default" for="userName">Name:</label>
                <input
                        autofocus
                        required type="text"
                        ng-minlength="4"
                        ng-model="user.name"
                        class="form-control"
                        id="userName"
                        name="userName"
                       >
                <span ng-show="updateForm.userName.$invalid && !updateForm.userName.$pristine"
                      class="my-1 help-block label label-info">Enter a valid name.</span>
            </div>
            <div class="form-group">
                <label class="label label-default" for="userSurname">Surname:</label>
                <input
                        required type="text"
                        ng-minlength="4"
                        ng-model="user.surname"
                        class="form-control"
                        id="userSurname"
                        name="userSurname">
                <span ng-show="updateForm.userSurname.$invalid && !updateForm.userSurname.$pristine"
                      class="my-1 help-block label label-info">Enter a valid surname.</span>
            </div>
            <div class="form-group">
                <label class="label label-default" for="userEmail">Email:</label>
                <input  autofocus required type="email"
                        ng-model="user.email"
                        class="form-control"
                        id="userEmail"
                        name="userEmail">
                <span ng-show="updateForm.userEmail.$invalid && !updateForm.userEmail.$pristine"
                      class="my-1 help-block label label-info">Enter a valid email.</span>
            </div>
            <div class="form-group">
                <label class="label label-default" for="userPassword">Password:</label>
                <input
                        required type="password"
                        ng-minlength="4"
                        ng-model="user.password"
                        class="form-control"
                        id="userPassword"
                        name="userName"
                        placeholder="****">
                <span ng-show="updateForm.userName.$invalid && !updateForm.userName.$pristine"
                      class="my-1 help-block label label-info">Enter a valid password.</span>
            </div>
            <button type="submit" id="updateBtn" class="btn btn-primary btn-block"
                    ng-disabled="updateForm.$invalid">Update</button>
            <div  ng-show="message" class="alert alert-info">
                <strong>Message: </strong>
                {{message}}
            </div>

        </form>
        </div>
    </div>
<hr class="my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="page-header">
                    <h3 class="text-center">My Blogs:</h3>
                </div>

            </div>
        </div>
        <div class="row">
            <article class="col-md-6" ng-repeat="post in user.Posts">
                <figure class="col-lg-12">
                    <a href="">
                        <img class="img-thumbnail"
                             ng-src="http://farm1.staticflickr.com/258/18511405422_d7c67c0ff8_k.jpg">
                    </a>
                    <figcaption class="article-caption">
                        <h1 class="article-title">
                            <a ng-href="/post/{{post.id}}">{{post.title}}</a>
                        </h1>
                    </figcaption>
                </figure>
                <div class="article-intro col-lg-12" style="padding-top: 10px;">
                    <strong>{{post.description}}</strong>
                </div>
            </article>
        </div>
    </div>
</div>