<link rel="stylesheet" href="/css/home.css">

<div ng-controller="PostsController" class="row  justify-content-center">
    <div class="container">
        <div class="row">
            <div class="row">
                <article class="col-md-6" ng-repeat="post in posts">
                    <figure class="col-lg-12">
                        <a href="">
                            <img class="img img-responsive article-img" src="http://farm1.staticflickr.com/258/18511405422_d7c67c0ff8_k.jpg">
                        </a>
                        <figcaption class="article-caption">
                            <h1 class="article-title">
                                <a ng-href="/post/{{post.id}}">{{post.title}}</a>
                            </h1>
                        </figcaption>
                    </figure>
                    <div class="article-intro col-lg-12" style="padding-top: 10px;">
                        <strong>{{post.description}}</strong>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>